__pycache__/
alluredir/
allure-report/
allure-results/
.idea/
report/
teatrail_report/
__snapshot_failed__/
testrail_report/
.cursor/
.vscode/
.logs/
.env
main.py
test-results
.venv
ddt/images/current_img.png
.user_sessions/
